## System files to ignore
##
.DS_Store

## Emacs files to ignore
##
*~

## WinBUGS files to ignore
##
coda*
log*
data.txt
script.txt

## R files to ignore
##
*.Rsave
.Rapp.history
.Rhistory

## Miscellaneous files to ignore
##
*.pdf
*.xlsx
*.docx
# results.txt is renamed manually after analyses to
# reflect analysis from which it is derived
results.txt



