## System files to ignore
##
.DS_Store

## Emacs files to ignore
##
*~

## WinBUGS files to ignore
##
coda*
log*
data.txt
script.txt

## R files to ignore
##
*.Rsave
.Rapp.history

## Miscellaneous files to ignore
##
*.pdf
*.xlsx
*.docx


